<main class="principal">
  <section class="cards">
    <mat-card (click)="modalidades()">
      <h2>Modalidades</h2>
      <img src="../../assets/modalidades.jpg" alt="alunos" width="100%" />
    </mat-card>
    <mat-card (click)="turmas()">
      <h2>Turmas</h2>
      <img src="../../assets/turma.jpg" alt="alunos" width="100%" />
    </mat-card>
    <mat-card (click)="instrutores()">
      <h2>Instrutores</h2>
      <img src="../../assets/instrutores.jpg" alt="instrutores" width="100%" />
    </mat-card>
    <mat-card (click)="matriculas()">
      <h2>Matriculas</h2>
      <img src="../../assets/matricula.jpg" alt="matricula" width="100%" />
    </mat-card>
    <mat-card (click)="alunos()">
      <h2>Alunos</h2>
      <img src="../../assets/alunos.jpeg" alt="alunos" width="100%" />
    </mat-card>
  </section>
</main>
