<mat-card class="card">
  <mat-toolbar class="card-toolbar">
    <span>Lista de Modalidades</span>
    <button class="botao botao-toolbar">
      <mat-icon>add</mat-icon>
      Adicionar
    </button>
  </mat-toolbar>
  <table
    mat-table
    [dataSource]="modalidades"
    class="mat-elevation-z8"
    *ngIf="modalidades$ | async as modalidades; else tabelaVazia"
  >
    <ng-container matColumnDef="id">
      <th mat-header-cell class="coluna" *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let modalidade">{{ modalidade._id }}</td>
    </ng-container>

    <ng-container matColumnDef="nomeModalidade">
      <th mat-header-cell class="coluna" *matHeaderCellDef>Modalidade</th>
      <td mat-cell *matCellDef="let modalidade">
        {{ modalidade.nomeModalidade }}
      </td>
    </ng-container>

    <ng-container matColumnDef="dataCriacao">
      <th mat-header-cell class="coluna" *matHeaderCellDef>Data Criação</th>
      <td mat-cell *matCellDef="let modalidade">
        {{ modalidade.dataCriacao | date: "dd/MM/yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="opcoes">
      <th mat-header-cell class="coluna" *matHeaderCellDef>Opções</th>
      <td mat-cell *matCellDef="let modalidade">
        <button type="button" class="botao botao-editar">Editar</button>
        <button type="button" class="botao botao-excluir">Excluir</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="ordemColunas"></tr>
    <tr mat-row *matRowDef="let row; columns: ordemColunas"></tr>
  </table>
  <ng-template #tabelaVazia>
    <h2 class="listavazia">Nenhuma modalidade cadastrada.</h2>
  </ng-template>
</mat-card>
